{% extends "polybookexchange/base.html" %}
{% load i18n polybookexchange_extras %}

{% block title %}{{block.super}} :: {% trans "New exemplar" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "New exemplar" %}</h1>
    <hr />

    {% show_book book "False" %}

    <div class="alert alert-info">
        {% trans "The seller is" %} <b>{% show_name_from_sciper sciper %}</b>
    </div>

    <form method="POST" action"">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% trans "About the exemplar" %}</h3>
            </div>
            <div class="card-body">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-check mb-3">
                                <label class="form-check-label">{% trans "Annotated" %}</label>
                                <input type="checkbox" name="annotated" value="annotated" class="form-check-input" {% if candidate.annotated %}checked{% endif %} />
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label">{% trans "Surligned" %}</label>
                                <input type="checkbox" name="highlighted" value="highlighted" class="form-check-input" {% if candidate.highlighted %}checked{% endif %} />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">{% trans "Condition:" %}</label>
                                <select name="state" class="form-select">
                                    <option value="neuf" {% if candidate.state == 'new' %}selected{% endif %}>{% trans "New" %}</option>
                                    <option value="bon" {% if candidate.state == 'bon' %}selected{% endif %}>{% trans "Good" %}</option>
                                    <option value="acceptable" {% if candidate.state == 'acceptable' %}selected{% endif %}>{% trans "Acceptable" %}</option>
                                    <option value="mauvais" {% if candidate.state == 'mauvais' %}selected{% endif %}>{% trans "Bad" %}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">{% trans "Price asked:" %}</label>
                                <input name="price" type="text" class="form-control" value="{{candidate.price|floatformat:'0'}}" />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">{% trans "Comments:" %}</label>
                                <textarea name="comment" class="form-control">{{candidate.comments}}</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger">
                <p>{{error}}</p>
            </div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% trans "Book ID" %}</h3>
            </div>
            <div class="card-body">
                <label class="form-label">{% trans "Exemplar Identifier:" %}</label>
                <input name="force_id" required="true" type="number" class="form-control" />
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% trans "Book usage" %}</h3>
            </div>
            <div class="card-body">

                <div class="alert alert-info">
                    {% trans "Please select sections/years when this book is used." %}
                </div>

                <table class="table table-condensed table-hover">

                    <thead>
                        <tr>
                            <th></th>
                            {% for sem in semestres %}
                                <th>{{sem.acronym}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for sec in sections %}
                            <tr>
                                <td><b>{{ sec.acronym }}</b></td>

                                {% for sem in semestres %}
                                    <td><input type="checkbox" name="c_{{sec.pk}}_{{sem.pk}}" value="on" {% checked_case book sem sec candidate %} /></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>


            </div>
        </div>

        <button type="submit" class="btn btn-primary float-end"><i class="fas fa-plus"></i> {% trans "Submit" %}</button>
    </form>

    <script type="text/javascript">
        $('#polybook-menu-admin').addClass('active');
        $('input[name=force_id]').focus();
    </script>

{% endblock %}
