{% load i18n %}
{% load staticfiles %}
{% load polybookexchange_extras %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maximilien Cuony">

    <title>{% block title %}AGEPoly :: {% trans "Book exchange" %}{% endblock %}</title>

    <link href="{% static 'polybookexchange/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'polybookexchange/style.css' %}" rel="stylesheet">

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'polybookexchange/bootstrap/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'polybookexchange/bootstrap/js/bootstrap.min.js' %}"></script>

</head>

<body>

       <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'polybookexchange.views.home' %}"><img src="{% static 'polybookexchange/logo-agep.png' %}" height="40" style="margin-top: -8px;"> {% trans "AGEPoly's book exchange" %}</a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#" onclick="return false;">{% trans "Welcome" %} {{user.get_full_name}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for lang in LANGUAGES %}
                            <li>
                                <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                                <form name="setLang{{lang.1}}" action="{% url 'django.views.i18n.set_language' %}" method="POST">{% csrf_token %}
                                    <input type="hidden" name="language" value="{{ lang.0 }}" />
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

              </li>
              <li><a href="#">{% trans "Logout" %}</a></li>
              <li><a href="https://agepoly.ch">{% trans "Back to the AGEPoly's website" %}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">{% trans "General" %}</li>
            <li id="polybook-menu-home"><a href="{% url 'polybookexchange.views.home' %}">{% trans "Home" %}</a></li>
            <li id="polybook-menu-howto"><a href="{% url 'polybookexchange.views.howto' %}">{% trans "How it works ?" %}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">{% trans "Buy books" %}</li>
            <li id="polybook-menu-search"><a href="{% url 'polybookexchange.views.search' %}">{% trans "Search" %}</a></li>
            <li id="polybook-menu-browse"><a href="{% url 'polybookexchange.views.browse' %}">{% trans "Browse" %}</a></li>
            <li id="polybook-menu-buyedbooks"><a href="{% url 'polybookexchange.views.purchases' %}">{% trans "Purchases" %}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">{% trans "Sell books" %}</li>
            <li id="polybook-menu-propose"><a href="{% url 'polybookexchange.views.propose' %}">{% trans "Propose a new book" %}</a></li>
            <li id="polybook-menu-proposed"><a href="{% url 'polybookexchange.views.proposed' %}">{% trans "Your propositions" %}</a></li>
            <li id="polybook-menu-sales"><a href="{% url 'polybookexchange.views.sales' %}">{% trans "Books sold or in sale" %}</a></li>
          </ul>

          {% if user.is_superuser %}
            <ul class="nav nav-sidebar">
                <li class="dropdown-header">{% trans "Admin" %}</li>
                <li id="polybook-menu-admin"><a href="{% url 'polybookexchange.views.admin' %}">{% trans "Administration's home" %}</a></li>
            </ul>
        {% endif %}

            <h4>{% trans "Statistics" %}</h4>

            {% show_stats %}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          {% endblock %}
        </div>

        <div class="footer">

            &copy; Maximilien Cuony, based on Loïc Etienne and Aristidis Papaioannou's work - 2014 - <a href="http://opensource.org/licenses/BSD-2-Clause" target="_blank">BSD</a> - <a href="http://agepoly.epfl.ch">AGEPoly</a>/<a href="http://polylan.ch">PolyLAN</a> - <a href="https://github.com/PolyLAN/polybookexchange">{% trans "Fork me on Github!" %}</a>
            <br />
            Using <a href="https://www.djangoproject.com/" target="_blank">Django</a> with <a href="http://djangopony.com/" target="_blank">ponies and magic</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.

        </div>

      </div>

    </div>

    {% if settings.GOOGLE_ANALYTICS_ID %}
        <script> 

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', 'auto');
            ga('set', 'contentGroup1', 'BourseAuxLivres');
            ga('send', 'pageview');

        </script>
    {% endif %}
   
</body>

</html>
