{% extends "polybookexchange/base.html" %}
{% load i18n polybookexchange_extras %}

{% block title %}{{block.super}} :: {% trans "Old candidates cleanup" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Old candidates cleanup" %}</h1>
    <hr />

    {% if done %}
        <div class="alert alert-success">
            {% trans "Candidates deleted !" %}
        </div>
    {% endif %}

    <div class="alert alert-info">
        {% trans "If needed, you can unselect some candidates" %}
    </div>

    <form action="" method="POST">
        {% csrf_token %}

        {% for c in to_delete %}

            <div class="form-check">
                <input type="checkbox" name="to_delete[]" value="{{c.pk}}" class="form-check-input" checked>
                <label class="form-check-label">{{c.id}} - {{c.isbn}} - {{c.sciper}} - {{c.creation_date}} ({{c.creation_date|timesince}})</label>
            </div>
        {% empty %}

            <div class="alert alert-warning">
                {% trans "Nothing to cleanup !" %}
            </div>

        {% endfor %}


        <button type="submit" class="btn btn-danger float-end"><i class="fas fa-trash"></i> {% trans "Cleanup" %}</button>

    </form>


    <script type="text/javascript">
        $('#polybook-menu-admin').addClass('active');
    </script>

{% endblock %}
