{% extends "polybookexchange/base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "How it's work ?" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "What is the book exchange ?" %}</h1>

    {% blocktrans %}
        The book exchange is a system who allow you to sell or buy used books of others students.

        AGEPoly takes care of the storage of your books and sell them for you, without any fees.
    {% endblocktrans %}

    <h2>{% trans "How the book exchange works ?" %}</h2>


    {% trans "The system is very simple:" %}

    <h3>{% trans "To sell a book" %}</h3>

    <h4>{% trans "First step" %}</h4>

    <ul>
        <li>{% trans "You click on 'Propose a new book' in the left menu" %}.</li>
        <li>{% trans "You fill required informations and you print the generated page." %}</li>
        <li>{% trans "You bring your book, with the printed page at AGEPoly's event." %}</li>
    </ul>

    <h4>{% trans "Second step" %}</h4>

    <ul>
        <li>{% trans "We put your book in the system." %}</li>
        <li>{% trans "You get an automatic confirmation on your @epfl.ch address." %}</li>
        <li>{% trans "When your book has been sold to another student, you will also receive an automatic email" %}</li>
        <li>{% trans "At least, you can come back to AGEPoly's desk, with you student card (Camipro) to collect your money" %}.</li>
    </ul>

    <h3>{% trans "To buy a book" %}</h3>

    <ul>
        <li>{% trans "You browse this website to find a book" %}</li>
        <li>{% trans "You memorise the number of the book (NOT THE ISBN NUMBER !)" %}</li>
        <li>{% trans "If you found what you needed, you can come to AGEPoly's event with the money (in cash or camipro !)" %}</li>
        <li>{% trans "You now have a new book !" %}</li>
    </ul>

    <h3>{% trans "Conditions" %}</h3>

    <ul>

        <li>{% trans "The seller must be an EPFL student" %}</li>
        <li>{% trans "The AGEPoly won't be responsible for any lost or stolen book" %}</li>
        <li>{% trans "The AGEPoly won't be responsible for any deterioration of a book" %}</li>
        <li>{% trans "Handouts and language learning books cannot be sold using the book exchange" %}</li>
        <li>{% trans "The service is free, for EPFL students" %}</li>
        <li>{% trans "If a book isn't sold or taken back after 14 months," %}<span class="text-danger">{% trans "it's your responsibilty to get your book back at AGEPoly's desk, otherwhise he will be given to the central library, without the posibily to get it or your money back !" %}</span></li>
        <li>{% trans "Il you left the EPFL, it's your responsibilty to follow your books. You have to contact AGEPoly as soon as possible." %}</li>
    </ul>


    <script type="text/javascript">$('#polybook-menu-howto').addClass('active');</script>

{% endblock %}
