{% extends "polybookexchange/base.html" %}
{% load i18n %}

{% block title %}{{block.super}} {% trans "Your propositions" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Your propositions" %}</h2>

    <div class="alert alert-warning" %}
         {% trans "Proposition are deleted after 15 days." %}<br />
         {% trans "You only have 14 days to bring us your book after your submited into the system" %}
    </div>

    {% if liste %}

        <div class="container-fluid">
            <div class="row">
                {% for c in liste %}
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="caption" style="text-align: center;">
                                <h3>{{c.pk}}</h3>
                                <p>
                                    {% trans "ISBN::" %} {{c.isbn}}<br />
                                    {% trans "Price:" %} {{c.price|floatformat:2}} CHF
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-{{c.days_left_color}}" role="progressbar" style="width: {{c.days_left_percent}}%;" aria-valuenow="{{c.days_left_percent}}" aria-valuemin="0" aria-valuemax="100">{% blocktrans with d=c.days_left %}{{d}} day(s) left{% endblocktrans %}</div>
                                    </div>
                                </p>
                                <p><a href="{% url "polybookexchange.views.candidate_card" c.pk %}" class="btn btn-success" role="button" target="_blank"><i class="glyphicon glyphicon-print"></i> {% trans "Print" %}</a></p>
                            </div>
                        </div>
                    </div>


                {% endfor %}
            </div>
        </div>

    {% else %}

        <div class="alert alert-danger">
            {% trans "You have no propositions yet!" %}
        </div>

    {% endif %}

    <script type="text/javascript">$('#polybook-menu-proposed').addClass('active');</script>

{% endblock %}
