{% extends "polybookexchange/base.html" %}
{% load i18n polybookexchange_extras %}

{% block title %}{{block.super}} :: {% trans "Purchased books" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Purchased books" %}</h1>
    <hr />

    {% if liste %}

        <table class="table table-striped table-hover table-bordered">

            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Submited date" %}</th>
                    <th>{% trans "Buy date" %}</th>
                </tr>
            </thead>

            <tbody>

                {% for ex in liste %}
                    <tr>
                        <td><a href="{% url 'polybookexchange.views.exemplar' ex.pk %}">{{ex.pk}}</a></td>
                        <td>{{ex.book.title}}</td>
                        <td>{{ex.price|floatformat:2}}</td>
                        <td data-sort="{{ex.posted_date|date:'U'}}">{{ex.posted_date}}</td>
                        <td data-sort="{{ex.sold_date|date:'U'}}">{{ex.sold_date}}</td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% else %}

        <div class="alert alert-info">
            {% trans "You didn't purchased a book yet" %}
        </div>

    {% endif %}

    <script type="text/javascript">
        $('#polybook-menu-purchases').addClass('active');
        $($('table').DataTable({
            responsive: true,
            order: [4, 'asc'],
        }));
    </script>

{% endblock %}
