
{% extends "polybookexchange/base.html" %}
{% load i18n %}
{% load polybookexchange_extras %}

{% block title %}{{block.super}} :: {% trans "Book removing" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Book removing" %}</h1>

    {% if status == "ok" %}

        <div class="alert alert-success">
            {% trans "Book removed successfuly !" %}

            <a href="{% url 'polybookexchange.views.exemplar' exemplar_id %}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-print"></i> {% trans "Show the receipt" %}</a>
            <br /><br />

    {% else %}

        {% if status == "error" %}
            <div class="alert alert-danger">
                {% trans "Exemplar invalid or already sold !" %}
            </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label>{% trans "Exemplar ID:" %}</label>
                <input name="exemplar_id" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>{% trans "Reason:" %}</label>
                <select name="out_reason" id="out_reason" class="form-control">
                    {% for value, label in Exemplar.OUT_REASON_CHOICES %}
                        {% if value != "sold" %}
                            <option value="{{value}}">{{label}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="pull-right btn btn-primary"><i class="glyphicon glyphicon-trash"></i> {% trans "Remove" %}</button>
        </form>

    {% endif %}


    <script type="text/javascript">$('#polybook-menu-admin').addClass('active');</script>

{% endblock %}
